html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

{% for c in site.colors %}
.border-{{c[0]}} { border-color: {{ c[1] }} !important; }
.text-{{c[0]}}   { color: {{ c[1] }}; }
.text-{{c[0]}} a { color: {{ c[1] }}; }
.bg-{{c[0]}}     { background-color: {{ c[1] }} !important; }
{% endfor %}

{% for node in site.posts %}
  {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
  {% capture bg %}{% if site.colors[node.bg] %}{{ site.colors[node.bg] }}{% else %}{{ node.bg }}{% endif %}{% endcapture %}
  {% capture fg %}{% if site.colors[node.color] %}{{ site.colors[node.color] }}{% else %}{{ node.color }}{% endif %}{% endcapture %}
  nav .p-{{id}} { border-color: {{ bg }}; }
  #{{id}} { background-color: {{ bg }} !important; color: {{ fg }}; }
  #{{id}} a { color: {{ fg }}; }
  #{{id}} .sectiondivider { color: {{ bg }}; }
{% endfor %}

code, pre { font-family: Monaco, Menlo, Consolas, "Courier New", monospace; }
code {
  background: rgba(255, 255, 255, 0.2);
  display: inline;
  word-wrap: break-word;
}
pre code { background: none; display: block; }
pre {
  display: block;
  margin: 20px 5%;
  padding: 4px 8px;
  background: rgba(255,255,255,0.1);
  word-wrap: break-word;
}
img {
  max-width: 100%!important;
  height: auto;
  vertical-align: middle;
}
hr {
  margin: 60px auto;
  width: 50%;
  border-color: {{ site.colors.black }};
  opacity: 0.08;
}

.container { word-wrap: break-word; }
.center { text-align: center; }
.left, .container .left { text-align: left; }
.container h1, .container h2, .container h3, .container h4 {
  margin-bottom: 20px;
  text-align: center;
  padding: 0 4%;
}
.container p, .container ol, .container ul {
  font-size: 17px;
  padding: 0 5%;
}
.container ol, .container ul { padding: 0 8%; }
.icontain {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}
.i4x3 { padding-bottom: 75.00%; }
.icontain iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.inlineblock {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.highlighttable { margin: 20px 5%; }
.self {
  width: 200px;
  height: 200px;
}

{% assign navborder = 3 %}
{% assign navborder_active = 6 %}
nav {
  font-size: 15px;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: #2e2e2e;
}
nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  letter-spacing: -4px;
}
nav ul li {
  display: inline-block;
  border-top: {{navborder}}px solid;
  padding: {{navborder}}px 0;
  *display: inline;
  zoom: 1;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  min-width: 220px;
  line-height: 60px;
  margin: 0;
}
nav ul li a, nav ul li a:visited {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  opacity: .75;
}
nav ul li a:hover {
  opacity: 1
}
nav ul li:hover, nav ul li.active {
  border-top-width: {{navborder_active}}px;
  padding-top: 0;
}

.section {
  position: relative;
  display: block;
  width: 100%;
  min-height: 300px;
  padding: 210px 0;
  background:url(img/bgnoise.png);
}
.section:first-of-type {
  padding-top: 140px;
}

.header-contrast {
  color: #000;
}

#footer {
  padding: 8px 0;
  min-height: 0;
  text-align: center;
  background-color: #2e2e2e;
  background-image: none;
}
#footer .container p { font-size: 13px; margin: 0; }

.subtlecircle {
  text-align: center;
  z-index: 3;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
  background :url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAF0lEQVQIHWP8//+/MQMaYELjg7kUCgIASm8DOqGzfp8AAAAASUVORK5CYII=);
}

.sectiondivider {
  width: 270px;
  height: 270px;
  padding: 15px;
  position: absolute;
  top: -135px;
  left: 50%;
  margin-left: -135px;
}
.sectiondivider img {
  width: 200px;
  height: 240px;
  position: static;
  margin-top: -20px;
}
.sectiondivider .fa-stack {
  font-size: 130px;
  position: static;
  margin-top: -8px;
}
.sectiondivider .fa-circle { color: #fff; }
.sectiondivider h5 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  bottom: 50px;
  left: auto;
  text-align: center;
  display: block;
  z-index: 6;
  width: 240px;
}
.sectiondivider.imaged {
  text-shadow: 1px 1px 3px #333;
}

.columned {
  -webkit-column-count: 3;
  -moz-column-count:    3;
  column-count:         3;

  -webkit-column-gap: 40px;
  -moz-column-gap:    40px;
  column-gap:         40px;

  -webkit-column-rule: 1px outset rgba(255, 255, 255, 0.5);
  -moz-column-rule:    1px outset rgba(255, 255, 255, 0.5);
  column-rule:         1px outset rgba(255, 255, 255, 0.5);
}

.social-list li {
  list-style-type: none;
  display: inline;
  margin-right: 8px;
}
.longlist { font-size: 14px !important; }
.longlist li { margin-bottom: 3px; }
.points-list {
  list-style-type: none;
}
.points-icon {
  font-size: 36px;
  float: left;
  margin-right: 8px;
  background: rgba(0, 0, 0, 0.06);
}
.points-title {
  font-weight: bold;
  margin-bottom: 4px;
}

.contact {
  text-align: center;
  padding-top: 24px;
}
.contact p {
  margin-top: -12px;
}

.self {
  height: 135px;
  width: 135px;
  margin-top: 16px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 4px #deb887;
  -moz-box-shadow: 0 2px 4px #deb887;
  -ms-box-shadow: 0 2px 4px #deb887;
  -o-box-shadow: 0 2px 4px #deb887;
  box-shadow: 0 2px 4px #deb887;
}

.button {
  left: -4px;
  position: relative;
  vertical-align: top;
  height: 51px;
  width: 80px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border: 0;
  cursor: pointer;
}
.button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.orange-button {
  background: #f39c12;
  border-bottom: 2px solid #e8930c;
  -webkit-box-shadow: inset 0 -2px #e8930c;
  box-shadow: inset 0 -2px #e8930c;
}
.amethyst-button {
  background: #9b59b6;
  border-bottom: 2px solid #8d4ca7;
  -webkit-box-shadow: inset 0 -2px #8d4ca7;
  box-shadow: inset 0 -2px #8d4ca7;
}

/* mid size (tablets, landscapes) */
@media only screen and (max-width: 679px) {
  nav { font-size: 11px; }
  nav ul li {
    min-width: 120px;
    line-height: 40px;
  }
}

/* tiny size (phones) */
@media only screen and (max-width: 380px) {
  nav ul li { min-width: 90px; line-height: 20px; }
}

/* anything not desktop */
@media only screen and (max-width: 767px) {
  .container h1 { font-size: 30px; }
  .container h2 { font-size: 24px; }
  .container h3 { font-size: 20px; }
  .container h4 { font-size: 18px; }
  .section { padding: 130px 0; }
  .sectiondivider {
    width: 200px;
    height: 200px;
    padding: 15px;
    top: -100px;
    margin-left: -100px;
  }
  .sectiondivider img {
    width: 150px;
    height: 180px;
  }
  .sectiondivider .fa-stack {
    font-size: 100px;
    margin-top: -14px;
  }
  .sectiondivider h5 {
    font-size: 15px;
    bottom: 30px;
    width: 170px;
  }
  .columned {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
